@use '../../styles/index.scss' as *;

.hero {
    padding: 90px 0 50px;
    .inner {
        border-radius: 28px;
        background: rgba(255, 255, 255, 0.08);
        backdrop-filter: blur(16px);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        padding: 90px 0 70px;
        text-align: center;
        .hero-icon {
            margin: 0 auto;
        }
        .hero-title {
            margin-top: 12px;
            font-size: 64px;
            font-weight: 800;
            @include flex-center-left;
            gap: 20px;
            img {
                height: 45px;
            }
        }
        .line {
            width: 380px;
            height: 1px;
            background-color: $line1;
            margin: 20px auto 40px;
        }
        .hero-subtitle {
            color: $text-subtitle;
            font-size: 28px;
            font-weight: 700;
            margin-bottom: 10px;
        }
        .hero-desc {
            font-size: 18px;
        }
        .scroll-indicator {
            margin-top: 40px;
            font-size: 16px;
            opacity: 0.5;
            display: inline-block;
            border: 1px solid #fff;
            border-radius: 50%;
            width: 28px;
            height: 28px;
            padding-top: 1px;
        }
    }

    @media (max-width: $tablet) {
        padding: 60px 14px;
        .inner {
            width: 100%;
            padding: 50px 0;
            .hero-title {
                font-size: 36px;
                gap: 12px;
                img {
                    height: 28px;
                }
            }
            .line {
                width: 45%;
            }
        }
    }
    @media (max-width: $mobile) {
        padding: 50px 12px;
        .inner {
            padding: 40px 16px;
            .hero-title {
                font-size: 24px;
                gap: 6px;
                img {
                    height: 18px;
                }
            }
            .line {
                width: 55%;
                margin: 20px auto;
            }
            .hero-subtitle {
                font-size: 18px;
            }
            .hero-desc {
                font-size: 14px;
            }
            .scroll-indicator {
                margin-top: 20px;
                font-size: 14px;
                width: 24px;
                height: 24px;
            }
        }
    }
}
