$bg-main: #0f1311;

$line1: #575d57;
$line2: #363b36;

$bg-search: #171b18;
$bg-input: #2f312f;
$bg-light: #212422;

$btn: #133d1f;

$text-subtitle: #a4a7a4;
$text-card: #aac4a1;
$green: #1ea746;
$dark-green: #0d2a15;
