@use '../../../styles/index.scss' as *;

.filter-bar {
    padding-bottom: 50px;
    border-bottom: 1px solid $line2;
    .inner {
        border-radius: 28px;
        background: $bg-search;
        padding: 50px;
        font-size: 18px;
        display: flex;
        gap: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        .select-box {
            position: relative;
            display: inline-block;
            select {
                width: 230px;
                height: 50px;
                border-radius: 12px;
                background-color: $bg-input;
                color: #fff;
                padding: 0px 20px;
                appearance: none;
            }
            .arrow {
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                pointer-events: none;
            }
        }
        .search-input {
            display: flex;
            gap: 20px;
            position: relative;
            input {
                width: 700px;
                height: 50px;
                padding: 0px 20px 0 50px;
                border-radius: 12px;
                background-color: $bg-input;
                color: #fff;
            }
            .search-icon {
                position: absolute;
                left: 20px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 20px;
                opacity: 0.2;
            }
            .reset-btn {
                width: 130px;
                height: 50px;
                border-radius: 12px;
                background-color: $dark-green;
                border: none;
                color: #fff;
                transition: 0.2s;
                &:hover {
                    background-color: $btn;
                }
            }
        }
    }
}
